p.c2 {
	display: inline;
	border: 5px solid black;
}

p.c3 {
	display: inline-block;
	border: 5px solid black;
	height: 100px;
	width: 200px;
}
p.c4 {
	border: 5px solid black;
	height: 100px;
	width: 200px;
	position: absolute;
	left: 36%;
	top: 70%;
}
p.c5 {
    border: 5px solid black;
	height: 100px;
	width: 200px;
	position: absolute;
	left: 88px;
	top: 82%;
}
p.c6 {
    border: 5px solid green;
	height: 100px;
	width: 200px;
	position:absolute;
	bottom: 1%;
	right: 1%;
}
p.c7 {
    border: 5px solid black;
	position: absolute;
	left: 40px;
	top: 70%;
    height: 100px;
	width: 200px;

}

img.img1 {
	border: 5px solid black;
    margin-top: 1%;
}
img.img2 {
    border: 5px solid black;
	position: absolute;
	left: 15%;
	top: 45%;
	width: 300px;
	height: 300px;
}